---
import { getCollection } from "astro:content";
import CodeBlock from "../../components/code-block.astro";
import { getCodeHtml } from "../../utils/get-code-html";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const data = [];

  for (const post of posts) {
    const { sections, language } = post.data;
    for (const section of sections) {
      for (const snippet of section.snippets) {
        snippet.codeHtml = await getCodeHtml({ language, code: snippet.code });
      }
    }
    data.push({
      params: { slug: post.id },
      props: { post: post.data },
    });
  }

  return data;
};

const { post } = Astro.props;
---

<style>
  .sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div>
      <div>{post.title}</div>
      <div class="sections">
        {
          post.sections.map((section) => (
            <div class="section">
              <div>{section.subtitle}</div>
              {section.snippets.map((snippet) => (
                <CodeBlock
                  description={snippet.description}
                  codeHtml={snippet.codeHtml}
                />
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </body>
</html>
